* {

  
  font-family: 'Alumni Sans SC', sans-serif;
}
.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between
}
.item:nth-child(n+6){
border: 1px  solid rgba(0, 0, 0, 0.517);
padding: 5px;
}
.item:nth-child(1),
.item:nth-child(2),
.item:nth-child(4),
.item:nth-child(5) {
  flex-grow: 1;
}

.item:nth-child(3),.item:nth-child(7) ,.item:nth-child(6){
  width: 100%;
}
.item:nth-child(4),.item:nth-child(5)  {
  max-width: 48%;
}
.item:nth-child(6) {

  display: flex;
  justify-content: space-between; /* espaço entre os itens */
  gap: 20px; /* opcional: adiciona um espaço fixo entre eles */
  padding: 10px 0;
}

.info {
  white-space: nowrap; /* evita quebra de linha */
}
.item:nth-child(7) {
    text-align: center;
    
}
img{
    width:200px;
}
