* {
  color: black;
}
@page {
  size: A4;
  margin: 0.5cm;
}
body {
  font-family: 'Georgia', serif;
}
html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
img {
  width: 200px;
}

table th, table td {
  vertical-align: middle;
}

.total {
  font-weight: bold;
  text-align: right;
}

.empresa-info {
  font-size: 0.8rem;
 
}
.empresa-info div{
  padding: 0.5rem;
}

.template-style-vintage {
  
  background-color: #ffffff56;
  font-family: 'Times New Roman', Times, serif;
}

.template-style-vintage header {
  background: #4d6b4b36;
  padding: 10px;
  border-radius: 5px;

}

.template-style-vintage .table {
  border: 1px solid #4d6b4b9c;
}

.template-style-vintage .table th,
.template-style-vintage .table td {
  background: #4d6b4b1a;
}


.container {
  width: 100%;
  max-width: none;
  padding: 5px;
  margin: 5px;
  min-height: 200mm;
}
.pagina {
  page-break-after: auto;
}

.nao-quebrar {
  page-break-inside: avoid;
}
.text-end{
  padding: 5px;
}