* {
  color: black;
}
@page {
  size: A4;
  margin: 0.5cm;
}
body {
  font-family: 'Georgia', serif;
}
html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
img {
  width: 200px;
}

table th, table td {
  vertical-align: middle;
}

.total {
  font-weight: bold;
  text-align: right;
}

.empresa-info {
  font-size: 1rem;
 
}
.empresa-info div{
  padding: 0.5rem;
}

.template-style-vintage {
  background-color: #fefcf9;
  border: 1px solid #d1bfa3;
  font-family: 'Times New Roman', Times, serif;
}

.template-style-vintage header {
  background: #ede1c7;
  border-bottom: 2px dashed #c2aa89;
}

.template-style-vintage .table {
  border: 1px solid #c2aa89;
}

.template-style-vintage .table th,
.template-style-vintage .table td {
  background-color: #fdfaf3;
}


.container {
  width: 100%;
  max-width: none;
  padding: 0;
  margin: 0;
  min-height: 200mm;
}
.pagina {
  page-break-after: auto;
}

.nao-quebrar {
  page-break-inside: avoid;
}
.text-end{
  padding: 5px;
}