@page {
    size: A4;
    margin: 0.1cm 0.5cm;
  }

.container {
    margin: 0px auto;
    padding: 2px;
   border: 1px solid #000;
  }
  .text-end{
    font-size: 0.7rem;
  }
.header{
    background-color: rgba(74, 231, 42, 0.13);
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
}
.cliente {
   
    padding: 5px;
    align-content: center;
}
.cliente div{
    font-size: 0.7rem;
    border: 1px solid #1d1d1d81;
    align-content: center;
    border-radius: 5px;
    max-width: 50%;
    padding: 4px;
}

.imposto{
    padding: 0px 5px;
    align-content: center;
}
.produtos{
    margin: 0 10px;
    padding: 5px;
    align-content: center;
}