<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ficha de Cadastro</title>
  <link rel="stylesheet" href = "../static/css/geradorOrcamento.css">
  <script src="../static/js/geradorOrcamento.js"></script>
</head>
<body>
  <div class="form-container">
    <h2>Adicionar orçamento</h2>
    <form class="form-grid">

      <div class="section-title">Dados Gerais</div>
        <div class="form-group"><label>Numero:</label><input type="number" name="nome"></div>
        <div class="form-group"><label>Cliente:</label><input type="text" name="endereco"></div>
        <div class="form-group"><label>Vendedor/resposanvel:</label><input type="text" name="bairro"></div>
        <div class="form-group"><label>Data:</label><input type="date" name="data"></div>
        <div class="form-group"><label>Prazo de entrega:</label><input type="date" name="prazo"></div>
        <div class="form-group"><label>Aos cuidados de:</label><input type="text" name="resposanvel"></div>
        <div class="form-group"><label>Canal de venda:</label><input type="email" placeholder="Via e-mail" name="canalVenda"></div>
        <div class="form-group"><label>Centro de custo:</label><input type="text" name="CentroCusto"></div>
        <div class="section-title">Campos extras</div>
        <div class="form-group"><label>Prazo para entrega:</label><input type="date" name="prazoParaEntrega"></div>
        <div class="form-group"><label>Validade da proposta:</label><input type="date" name="validadeProposta"></div>
        <div class="form-group"><label>Forma de Pagamento:</label><input type="text"  placeholder="Fazer um seletor entre pix,din..." name="Prazo??"></div>
        <div class="form-group"><label>N° do orçamento:</label><input type="number" name="NdOrçamento"></div>

        <div class="section-title">Produtos
        <div id="produtos-container">
          <div class="produto form-group-set">
            <div class="flex-row">
              <div class="form-group"><label>Produto 1:</label><input type="text" name="Produto_1"></div>
              <div class="form-group"><label>Detalhes:</label><input type="text" name="detalhesP_1"></div>
            </div>
            <div class="flex-row">
              <div class="form-group"><label>Quantidade:</label><input type="number" name="qtdP_1"></div>
              <div class="form-group"><label>Valor:</label><input type="number" name="ValorP_1"></div>
            </div>
          </div>
        </div>
      </div>
        <button type="button" id="add-produto">+ Adicionar Produto</button>
        
        <!-- Serviços -->
        <div class="section-title">Serviços
        <div id="servicos-container">
          <div class="servico form-group-set">
            <div class="flex-row">
              <div class="form-group"><label>Serviço 1:</label><input type="text" name="servico_1"></div>
              <div class="form-group"><label>Detalhes:</label><input type="text" name="detalhesS_1"></div>
            </div>
            <div class="flex-row">
              <div class="form-group"><label>Quantidade:</label><input type="number" name="qtdS_1"></div>
              <div class="form-group"><label>Valor:</label><input type="number" name="ValorS_1"></div>
            </div>
          </div>
        </div>
      </div>
        <button type="button" id="add-servico">+ Adicionar Serviço</button>

      <div class="section-title">Transporte</div>
        <div class="form-group"><label>Nome do frete:</label><input type="text" name="NomeFrete"></div>
        <div class="form-group"><label>Transportadora:</label><input type="text" name="Transportadora"></div>
        

      <div class="section-title">Endereço de entrega</div>
        <div class="form-group"><label>Endereço:</label><input type="text" name="ref_endereco"></div>

      <div class="section-title">Total</div>
        <div class="form-group"><label>Produtos:</label><input type="text" name="ProdutosT"></div>
        <div class="form-group"><label>Serviços:</label><input type="text" name="ServiçosT"></div>
        <div class="form-group"><label>Desconto(R$):</label><input type="text" name="DescontoTFlat"></div>
        <div class="form-group"><label>Desconto(%):</label><input type="text" name="DescontoTPercent"></div>

      <div class="section-title">Pagamento</div>
        <div class="form-group"><label>A vista:</label><input type="number" name="Avista"></div>
        <div class="form-group"><label>Parcelado:</label><input type="number" name="Parcelado"></div>
        <div class="form-group"><label>Forma de pagamento:</label><input type="text" name="FormaPagamento"></div>
      <div class="form-actions">
        <button type="submit">Enviar</button>
      </div>
    </form>
  </div>
  
</body>
</html>
