<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Orçamentos</title>
  <link rel="stylesheet" href="../static/css/index.css" />

  <script src="../static/js/index.js"></script>
</head>
<body>
  <div class="top-bar">
    <div class="info-box">{{info}}</div>
    <div class="menu">
      {{btns|safe}}
      <button class="btn logout"  onclick="Logout()">Logout</button>
  </div>
  </div>

  <div class="main-content">
    <div class="item-bar">
      <span class="id-label">id</span>
      
      <div>Cliente</div>
      <div>Vendendor</div>
      <div>DOWNLOADS</div>
      
    </div>
    <div id ="orcamento" class="orcamentos">

    </div>
    <!-- Conteúdo abaixo pode crescer dinamicamente -->
  </div>

  
</body>
</html>
